@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
    color: #333;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

nav {
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 10px 25px;
	position: relative;
}

nav div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

#right-nav {
	align-items: center;
	font-size: 13px;
	height: 50;
	width:250;
	padding:0 4px 0 32px;
}

.fa-bars {
	padding-top: 2px;
	font-size: 20px;
}
.nav-right-2>#menuBars:hover{
	background-color: #eee;
	border-radius:1rem;
	

}

#menuBars {
	padding: 6px 9px;
	border-radius: 50%;
	transition: 400ms ease;
}



nav img {
	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius: 50%;
	cursor: pointer;
}

/* MAIN */
main {
	display: flex;
	align-items: center;
	margin-top: 1%;
	justify-content: space-evenly;
	min-height: 90px;
	box-sizing: border-box;
}

main section {
	display: flex;
	gap: 10px;
	align-items: center;
	width: 30%;
	justify-content: space-evenly;
}
.google-img img{
	height: 90px;
	justify-content: space-evenly;
	
}
/* search */

.search{
	height:160;
	width:100%;
	align-items: center;
	justify-content: space-evenly;
	background-color:greenyellow;
}


